server:
  port: 8080

spring:
  application:
    name: hotel-gateway

  cloud:
    gateway:
      routes:
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/customers/**

        - id: hotel-service
          uri: lb://hotel-service
          predicates:
            - Path=/hotels/**

        - id: reservation-service
          uri: lb://reservation-service
          predicates:
            - Path=/reservations/**

        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payments/**

        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
