apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8085"
    prometheus.io/path: "/actuator/prometheus"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: notification-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8085

          env:
            - name: SPRING_APPLICATION_NAME
              value: notification-service
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/notification_db
            - name: SPRING_DATASOURCE_USERNAME
              value: postgres
            - name: SPRING_DATASOURCE_PASSWORD
              value: postgres
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: update
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka-server:8761/eureka
            - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
              value: "true"
            - name: EUREKA_CLIENT_FETCH_REGISTRY
              value: "true"
            - name: JAVA_TOOL_OPTIONS
              value: "-Xms128m -Xmx256m"
            - name: SPRING_AMQP_DESERIALIZATION_TRUST_ALL
              value: "true"

          resources:
            requests:
              memory: "180Mi"
              cpu: "150m"
            limits:
              memory: "300Mi"
              cpu: "300m"
